{% extends "base.html" %}

{% block content %}
<h1>Select Session at {{ location }}</h1>
<form method="post">
    <table class="table modern-table">
        <thead>
            <tr>
                <th>Day</th>
                <th>Date</th>
                <th>Time</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>{{ session.day }}</td>
                <td>{{ session.date.strftime('%d-%m-%Y') }}</td>
                <td>{{ session.start_time.strftime('%H:%M') }} - {{ session.end_time.strftime('%H:%M') }}</td>
                
                <td>
                    {% if session.available_quota > 0 %}
                        <button type="submit" name="session_id" value="{{ session.id }}" class="btn btn-success btn-small">Register</button>
                    {% else %}
                        <button type="button" class="btn btn-secondary btn-small" disabled>Full</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %} 